body{ 
    width: 100%;
    font: 14px sans-serif; 
    --tw-bg-opacity: 1;
     color: rgba(254, 202, 202, var(--tw-bg-opacity));
    color: #0D1826;
    font-family: 'Lato', sans-serif;
}
.wrapper{ 
    width: 65%;
    padding: 45px; 
    background-color: rgb(253, 251, 253);
    background-color: white;
    margin: auto;
    padding: 30px;
    margin-top: 100px ;
    border-radius: 10px;
    height: 555px;
    position: relative;
}
.form-control{
    width: 270px;
}

.grid-container {
    display: grid;
    grid-template-columns: 370px 1fr 2fr;
}
.btn{
    border-color: #435C73;
    background-color: #435C73;
}
#logo{
    position: absolute;
    top: 10px;
    left: -8px;
    margin-top: -38px;
}
#sign-up{
    position: absolute;
    left: 20px;
    bottom: 73px;
}
#sign-up{
    -moz-transform:scale(1.5);
    -webkit-transform:scale(1.5);
    -o-transform:scale(1.5);
    -ms-transform:scale(1.5);
    transform:scale(1.1);
}

